:root {
  --color1: #ff613d;
  --color2: #f1f1f1;
  --color3: black;
  --color4: #fbca7c;
}

/*---------------------------------FONTS---------------------------------*/

@font-face {
  font-family: work;
  src: url(../fonts/WorkSans-Regular.ttf)
}

@font-face {
  font-family: work-thin;
  src: url(../fonts/WorkSans-Thin.ttf)
}

@font-face {
  font-family: work-bold;
  src: url(../fonts/WorkSans-SemiBold.ttf)
}

body {
  margin: 0px;
}


#title {
  font-family: 'work';
  font-size: 40px;
  color: white;
  letter-spacing: .5mm;
}

#subtitle {
  font-size: 27;
  font-family: 'work';
  font-size: 20px;
}

#about-title {
  font-family: 'work';
  font-size: 40px;
  color: white;
  letter-spacing: .5mm;
}

#about-copy {
  font-size: 26px;
  color: white;
}

/*---------------------------------INDEX Landing Page Image---------------------------------*/
.img-mobile {
  display: none;
}

.main-img-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0px;
  background-color: #ff613d;
}

.main-img {
  width: 100%;
  height: auto;
}

div.main-img {
  width: auto;
  height: 400px;
  padding: 0px;
  background-image: url(../images/landingimage.jpg);
  background-size: cover;
  background-color: #ff613d;
}

.main-img-column {
  display: flex;
  flex-direction: column;
  flex: 50%;
  height: auto;
  background-color: #ff613d;
  padding: 0;
}

@media (max-width: 1000px) {
  .main-img {
    display: none;
  }

  .img-mobile {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.flex-row3 {
  display: flex;
  flex-direction: row;
  height: 110px;
  flex-wrap: wrap;
  background-color: #11eb18;
}

.flex-row4 {
  display: flex;
  flex-direction: row;
  height: 900px;
  background-color: #ff613d;
}

.flex-row-items {
  display: flex;
  flex-direction: row;
  height: 900px;
  background-color: #ff613d;
}

/*---------------------------------INDEX-FOOTER---------------------------------*/
.footer-flex {
  display: flex;
  height: 200px;
  background-color: black;
  flex-direction: row;
  align-items: center;
}

.footer {
  padding-left: 50px;
}

.footer-flex p {
  margin-left: 27px;
  font-size: 40px;
}

/*---------------------------------ABOUT section on landing page---------------------------------*/
.about-flex {
  display: flex;
  flex-direction: row;
  height: 300px;
  padding: 70px;
  width: auto;
  background-color: black;
}

#about-title {
  margin-right: 50px;
}

#tagline {
  font-family: 'work';
  font-size: 40px;
  color: white;
  letter-spacing: .5mm;
}

@media (max-width: 1000px) {
  .about-flex {
    display: flex;
    flex-direction: column;
    height: 300px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 160px;
  }

  #about-title,
  #about-copy {
    font-size: 17px;
  }

  #tagline {
    font-family: 'work';
    font-size: 15px;
    color: white;
    letter-spacing: .5mm;
  }
}


/*---------------------------------NAVIGATION side bar--------------------------------*/

.nav-side {
  list-style-type: none;
  background-color: #ff613d;
  width: 25%;
  margin-bottom: 100px;
}

.nav-side a {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  margin-left: 50px;
  width: 100%;
  height: 50%;
}

/*---------------------------------NAVIGATION side bar responsive--------------------------------*/

@media (max-width: 1000px) {
  .nav-side {
    display: none;
  }
}

/*---------------------------------FOOTER plus button to go back up to top--------------------------------*/

.pg-footer-flex {
  display: flex;
  height: 180px;
  background-color: black;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
}

.button {
  width: 100px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button-style:hover {
  opacity: 80%;
}

.button-style {
  width: 70px;
  margin-left: 10px;
}

.pg-footer-flex p {
  margin-left: 27px;
  font-size: 40px;
}

@media (max-width: 900px) {
  .pg-footer-flex {
    margin-top: 200px;
  }

  .pg-footer-flex p {
    font-size: 29px;
    margin-left: 25px;
  }

  .button-style {
    width: 50px;
    margin-left: 15px;
  }
}