:root {
  --color1: #f7a31b;
  --color2: white;
  --color3: black;
  --color4: #fbca7c;
}

/*---------------------------------INDEX-HOMEPAGE--------------------------------*/

body.index {
  background-color: var(--color1);
  margin: -30px;
}

@font-face {
  font-family: RAYJOHNS;
  src: url(..//fonts/ray-johnson/RAYJOHNS.ttf);
}

/*NAVIGATION BAR*/
.nav-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  background-color: var(--color1);
  height: 300px;
}

.nav-space {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
}

.nav-element {
  background: none;
  padding-left: 650px;
}

.nav-container > div {
  width: auto;
  background-color: var(--color1);
  margin: auto 20px auto 20px;
  font-family: RAYJOHNS;
  font-size: 14pt;
  text-align: center;
  line-height: 75px;
}

h1.title {
  font-family: RAYJOHNS;
  font-size: 32px;
  color: var(--color2);
  margin: auto 200px auto 210px;
  justify-content: flex-start;
}

h1.title:hover {
  color: var(--color4);
}

a.pages {
  color: var(--color2);
  font-variant-caps: petite-caps;
  font-family: RAYJOHNS;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

a.pages:hover {
  color: var(--color4);
}

/*INDEX-MAIN IMAGE*/
div.main-img {
  width: 100%;
  padding: 0px;
  opacity: 30%;
}

img.index {
  width: 100%;
  height: auto;
  margin: none;
  position: absolute;
  bottom: 0px;
}

/*SOCIAL MEDIA ICONS*/
.social-container {
  padding: 0px 0px 0px 40px;
  width: auto;
}

.social-flex {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  background-color: var(--color1);
}

.img {
  background-color: var(--color1);
  height: 30px;
  width: auto;
  margin: 55px 7px 30px 7px;
  animation-duration: 2s;
  transform-origin: bottom;
}

.bounce:hover {
  animation-name: bounce !important;
  animation-timing-function: ease !important;
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-3px);
  }
  51% {
    transform: rotate();
  }
  100% {
    transform: translateY(0);
  }
}

/*--------------------------------CONTACT PAGE--------------------------------*/
body.contact {
  background-color: var(--color1);
}

div.contact-gif {
  width: auto;
  padding: 70px 20px 50px 300px;
}

img.gif {
  width: auto;
  height: 50%;
  margin: 0px 0px 0px 200px;
  align-content: flex-end;
}

/*COPY AND GIF BLOCK*/

div.inline {
  display: inline;
  width: 100px;
  height: 100px;
  padding: 20px 10px 20px 800px;
  border: 1px solid blue;
  background-color: yellow;
}

p.copy {
  text-align: left;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  color: var(--color3);
}

/*--------------------------------PROJECTS PAGE 404--------------------------------*/

.projects404-background {
  background-color: #ffffff;
  border: 30px;
  padding: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.projects404-imgblock {
  height: 350px;
  border: 30px;
  padding: 100px 0px 100px 200px;
}

.projects404-text {
  height: 350px;
  border: 30px;
  padding: 300px 10px 20px 100px;
}

.img-bluelady {
  width: 20px;
}

/*--------------------------------PROJECTS PAGE--------------------------------*/
body.projects {
  background-color: var(--color2);
}

.projects-container {
  padding: 15px;
  width: 40%;
}

.projects-flex {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  background-color: var(--color2);
}

img.projects {
  width: 50%;
  height: 50%;
}
