/*---------------------------------INDEX-HEADER--------------------------------*/

.flex-row-header {
  display: flex;
  flex-direction: row;
  height: 100px;
  flex: 20%;
}

#header {
  font-size: 20px;
  font-family: arial;
  position: fixed;
  width: 100%;
  top: 0px;
  margin: 0px;
  color: white;
  background-color: #f7a31b;
  text-align: center;
  align-items: center;
}

.box {
  /*------------------------margins for items in the header------------------------*/
  margin: 8px;
}

.flex-row-header > .header-name {
  flex: 200%;
  text-align: left;
  margin-left: 90px;
}

.flex-row-header {
  flex: 10%;
}

.flex-icons-header {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-right: 90px;
}

@media (max-width: 800px) {
  .flex-row-header {
    flex-direction: column;
  }
}
