/*---------------------------------INDEX-GRID--------------------------------*/

.flex-row-grid {
  display: flex;
  flex-direction: row;
  height: 308px;
  font-size: 20px;
  font-family: arial;
  margin: 17px;
  color: #ffffff;
  text-align: center;
  width: 100%;
}

.flex-item {
  display: flex;
  flex-direction: row;
  flex: 25%;
  background-color: #ebd834;
  height: 180px;
}

.grid {
  background-color: #ab34eb;
  width: 100%;
  height: 300px;
  margin-left: 8px;
  margin-right: 8px;
  align-items: center;
  flex: 35%;
}

#img-grid {
  display: block;
  height: 100%;
}