@font-face {
  font-family: work;
  src: url(../fonts/WorkSans-Regular.ttf)
}

p {
  font-family: 'work';
  color: white;
}

/*--------header background style--------*/
#header-background {
  background-color: #f7a31b;
  width: 100%;
  height: 160px;
  font-family: 'work';
  letter-spacing: .5mm;
  color: white;
}

/*---------------------------------INDEX-HEADER--------------------------------*/

.header-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-title-flex {
  flex-grow: 10;
  padding-left: 50px;

}

.header-item-flex {
  flex-grow: 0.8;
}

.header-icon-flex {
  flex-grow: 0;
  padding-right: 30px;
}

/*---------------------------------HEADER PAGES link styling and hovering---------------------------------*/

a,
a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  opacity: 69%;
}

/*------------------------graphic styles for items in the header------------------------*/
#header {
  font-size: 18px;
  color: white;
  background-color: #f7a31b;
  text-align: center;
  align-items: center;

}

#flex-items {
  font-size: 30px;
}

/*------------------------margins and flex for header------------------------*/

@media (min-width: 1000px) {
  .header-name {
    margin-right: 15%;
    padding-left: 50px;
    width: 100%;
  }
}

.flex-space {
  display: flex;
  flex-grow: 5;
}


.flex-pages-width {
  flex-grow: .6;
}


/*------------------------margins and flex pages in the header------------------------*/

.flex-items {
  margin-left: 4%;
  margin-right: 4%;
}

.flex-icons-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*------------------------margins and flex social icons in the header------------------------*/

.flex-icon-style {
  margin-left: 4%;
  margin-right: 4%;
}

.hidden-nav-button {
  display: none;
}

/*------------------------responsive header becomes smaller------------------------------*/


@media (max-width: 1000px) {
  #nav-button {
    visibility: visible;
    display: flex;
    min-width: 50px;
    max-width: 50px;
    margin-right: 70px;
    align-items: center;
  }

  .flex-mobile-button {
    order: 2;
    align-items: center;
  }

  #mobile-hidden {
    display: none;
  }

  .flex-nav-button {
    display: flex;
    flex-direction: row;
    order: 2;
    margin-left: 30%;
  }

  .mobile-menu-title {
    display: flex;
    flex-direction: row;
    flex: 50%;
    order: 1;
    margin-right: 30%;
    align-items: center;
    font-size: 10px;
  }

}

/*------------------------Drop Down Mobile Menu (1000px) practice-------

.mobile-nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  background-color: green;
  padding-top: 120px;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  margin-bottom: 10px;
  padding: 12px 16px;
  background-color: blueviolet;
}

.mobile-nav a.hover {
  background-color: white ;
}

-----------------------*/