:root {
  --color1: #D73F19;
  --color2: #f1f1f1;
  --color3: black;
  --color4: #fbca7c;
}


body {
  margin: 0px;
}



#title {
  font-family: 'work';
  font-size: 40px;
  color: white;
  letter-spacing: .5mm;
}

#subtitle {
  font-size: 27;
  font-family: 'work';
  font-size: 20px;
}

#about-title {
  font-family: 'work';
  font-size: 40px;
  color: #cecece;
  letter-spacing: .5mm;
}

#about-copy {
  font-size: 26px;
  color: #cecece;
}

/*---------------------------------Flex INDEX-MAIN IMAGE---------------------------------*/
div.main-img {
  width: 100%;
  padding: 0px;
  background-image: url();
  background-size: cover;
  background-color: #D73F19;
  height: 400px;
}

.flex-row3 {
  display: flex;
  flex-direction: row;
  height: 110px;
  flex-wrap: wrap;
  background-color: #11eb18;
}

.flex-row4 {
  display: flex;
  flex-direction: row;
  height: 900px;
  background-color: #eb8511;
}

.flex-row-items {
  display: flex;
  flex-direction: row;
  height: 900px;
  background-color: #eb8511;
}

/*---------------------------------INDEX-FOOTER---------------------------------*/
.footer-flex {
  display: flex;
  height: 140px;
  background-color: black;
  flex-direction: row;
}

.footer {
  padding-left: 50px;
}

/*---------------------------------ABOUT section on landing page---------------------------------*/

.about-flex {
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 100%;
  background-color: black;
  padding: 70px 30px 0px 0px;
}

.about-column1 {
  display: flex;
  flex-direction: column;
  flex-grow: 0.2;
  flex: 20%;
  height: auto;
}

.about-column2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 2;
  flex: 50%;
  margin-right: 200px;
}

/*---------------------------------NAVIGATION side bar--------------------------------*/

.nav-side {
  list-style-type: none;
  background-color: #D73F19;
  width: 25%;
  margin-bottom: 100px;
}

.nav-side a {
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
  margin-left: 50px;
  width: 100%;
  height: 50%;
}

/*---------------------------------NAVIGATION side bar responsive--------------------------------*/

@media (max-width: 1000px) {
  .nav-side {
    display: none;
  }
}