/*---------------------------------PROJECT-PAGE Styles--------------------------------*/

#title-copy {
  font-family: 'work';
  font-size: 60px;
  margin: 0px;
  height: auto;
  line-height: 57px;
  padding: 100px 70px 0px 30px;
}

#project-tags {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 0px;
  height: auto;
  padding: 0px 70px 0px 30px;
}

#project-copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin: 0px;
  height: auto;
  padding: 100px 70px 50px 30px;
}


/*---------------------------------PROJECT-PAGE Flex--------------------------------*/

.project-row {
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 0px;
  background-color: beige;
}

/*---------------------------------Page text on top of images-------------------------------*/

.overlay-text {
  position: relative;
}

.text-top-left {
  position: relative;
  bottom: 495px;
  left: 75px;
  color: white;
  font-family: 'work';
  font-size: 15px;
  letter-spacing: 3px;
}

.text-bottom-left {
  position: relative;
  bottom: 143px;
  left: 67px;
  color: white;
  font-family: 'work';
  font-size: 30px;
}

/*---------------------------------Flex Project Row and Columns-------------------------------*/

.project-column1 {
  display: flex;
  flex-direction: column;
  flex: 22.5%;
  height: auto;
  background-color: #f1f1f1;
  margin: 10px;
}

.project-column2 {
  display: flex;
  flex-direction: column;
  flex: 55%;
  background-color: #f1f1f1;
  margin: 10px;
}

.project-column3 {
  display: flex;
  flex-direction: column;
  flex: 22.5%;
  height: 500px;
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
}

.project-row2 {
  display: flex;
  flex-direction: row;
  background-color: #00037d;
  width: 100%;
  margin: 0px;
  height: 100%;
}

.project-column-A {
  display: flex;
  flex-direction: column;
  flex: 50%;
  height: 500px;
  background-color: #f1f1f1;
  margin: 10px;
}

.project-column-B {
  display: flex;
  flex-direction: column;
  flex: 50%;
  height: 500px;
  background-color: #f1f1f1;
  margin: 10px;

}


/*---------------------------------Project Image Container--------------------------------*/

.image-landing {
  object-fit: cover;
  height: 500px;
}

.image-project {
  object-fit: cover;
  position: relative;
  height: 498px;
  width: 100%;
}

/*---------------------------------PROJECT-FOOTER---------------------------------*/
.pg-footer-flex {
  display: flex;
  height: 180px;
  background-color: black;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
}

/*---------------------------------FOOTER plus button to go back up to top--------------------------------*/


.button {
  width: 100px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button-style:hover {
  background-color: white;
  color: black;
}

.button-style {
  background-color: #ff613d;
  height: 100px;
  width: 300px;
  margin: 0px 20px 0px 10px;
  font-size: 30px;
  font-family: 'work';
  color: white;
}