/*---------------------------------PROJECT-PAGE Styles--------------------------------*/
@font-face {
  font-family: rayjohns;
  src: url(RAYJOHNS.ttf);
}

#title-copy {
  font-family: 'rayjohns';
  font-size: 60px;
  margin: 0px;
  height: auto;
  line-height: 57px;
  padding: 100px 70px 0px 30px;
}

#project-tags {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 0px;
  height: auto;
  padding: 0px 70px 0px 30px;
}

#project-copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin: 0px;
  height: auto;
  padding: 100px 70px 50px 30px;
}

#nav-footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

/*---------------------------------PROJECT-PAGE Flex--------------------------------*/

.project-row {
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 0px;
  background-color: DodgerBlue;
}

/*---------------------------------Flex LANDING Row and Columns-------------------------------

.project-row-landing {
  display: flex;
  flex-direction: row;
  height: 600px;
  margin: 0px;
  background-color: #f1f1f1;
}

.project-column1-landing {
  display: flex;
  flex-direction: column;
  flex: 75%;
  height: auto;
  width: 20px;
  background-color: #f1f1f1;
}

.project-column2-landing {
  display: flex;
  flex-direction: column;
  flex: 25%;
  background-color: #f1f1f1;
  margin: 10px;
  padding: 100px 70px 50px 30px;
}
---------------------------------Flex LANDING Row and Columns-------------------------------*/

/*---------------------------------Flex Project Row and Columns-------------------------------*/

.project-column1 {
  display: flex;
  flex-direction: column;
  flex: 22.5%;
  height: auto;
  background-color: #f1f1f1;
  margin: 10px;
}

.project-column2 {
  display: flex;
  flex-direction: column;
  flex: 55%;
  background-color: #f1f1f1;
  margin: 10px;
}

.project-column3 {
  display: flex;
  flex-direction: column;
  flex: 22.5%;
  height: 500px;
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
}

.project-row2 {
  display: flex;
  flex-direction: row;
  background-color: #00037d;
  width: 100%;
  margin: 0px;
  height: 100%;
}

.project-column-A {
  display: flex;
  flex-direction: column;
  flex: 50%;
  height: 500px;
  background-color: #f1f1f1;
  margin: 10px;
}

.project-column-B {
  display: flex;
  flex-direction: column;
  flex: 50%;
  height: 500px;
  background-color: #f1f1f1;
  margin: 10px;

}


/*---------------------------------Project Image Container--------------------------------*/

.image-landing {
  object-fit: cover;
  height: 500px;
}

.image-project {
  object-fit: cover;
  height: 498px;
  width: 100%;
}


/*---------------------------------NAVIGATION FOOTER--------------------------------*/

.navfooter {
  overflow: hidden;
  background-color: #f7a31b;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navfooter a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 13px;
  text-decoration: none;
}

/*---------------------------------NAVIGATION FOOTER responsive--------------------------------*/

@media (max-width: 1000px) {
  .navfooter {
    width: 100%;
    display: flex;
    flex-shrink: calc(1);
  }
}