:root {
  --color1: #f7a31b;
  --color2: #f1f1f1;
  --color3: black;
  --color4: #fbca7c;
}


* {
  margin: 0px;
}

#title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: white;
  justify-content: flex-start;
}

#title-arrow {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 17px 0px 0px 400px;
  color: white;
  justify-content: flex-start;
}

/*---------------------------------INDEX-MAIN IMAGE---------------------------------*/
div.main-img {
  width: 100%;
  padding: 0px;
  opacity: 30%;
}

.flex-img-main {
  display: flex;
  flex-direction: row;
  margin: 0px;
  height: 620px;
  background-color: #11ebeb;
  align-items: center;
}

.flex-row3 {
  display: flex;
  flex-direction: row;
  margin: 0px;
  height: 110px;
  background-color: #11eb18;
}

.flex-row4 {
  display: flex;
  flex-direction: row;
  margin: 0px;
  height: 900px;
  background-color: #eb8511;
}

.flex-row-items {
  display: flex;
  flex-direction: row;
  margin: 0px;
  height: 900px;
  background-color: #eb8511;
}

/*---------------------------------INDEX-FOOTER---------------------------------*/
#footer {
  display: flex;
  flex-direction: row;
  margin: 0px;
  height: 110px;
  background-color: #e99c85;
}

/*---------------------------------ABOUT-PAGE---------------------------------*/

#Layer_1 {
  scale: 50%;
}

#about-me {
  display: flex;
  flex-direction: column;
  flex: 25%;
  height: auto;
  background-color: #f1f1f1;
  margin: 10px;
  padding: 50px 0px 0px 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  margin: 0px;
  height: auto;
  line-height: 57px;
}

#about-copy {
  display: flex;
  flex-direction: column;
  flex: 25%;
  height: auto;
  margin: 0px 0px 40px 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  height: auto;
}